/* -------------------------------------------------------------- 

	Custom CSS Framework

	Author: Eric Ritchey | eric@eandjdesign.com | @ritcheyer
	Date:   2012-02-17

	-------------------------------------------------------------
	TABLE OF CONTENTS
	-------------------------------------------------------------
	1. Mixins

-------------------------------------------------------------- */

@mixin zeroOut {
	margin: 0;
	padding: 0;
	list-style: none;
}
@mixin group {
	display: inline-block;
	&:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
	&* html .group { height: 1%; }
	display: block;
}
