/* -----------------------------------------------------------------------------
  
   Baseline reset.css
   * Resets default browser CSS.

	Versions
	0.1    2011-02-17    - Initial Creation and Development
	                     - Added HTML5 reset from Eric Meyer

	0.2    2011-09-18    - Adding items from HTML5 Boilerplate
	
	0.3    2012-02-06    - Added box-sizing attribute per Paul Irish
   
   -------------------------------------------------------------------------- */
@import "../variables";

/* apply a natural box layout model to all elements: http://paulirish.com/2012/box-sizing-border-box-ftw/ */
* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body, div, 
article, aside, figure, footer, header, hgroup, nav, section, 
span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, 
pre, a, abbr, acronym, address, code, del, dfn, em, i, img, q, 
dl, dt, dd, ol, ul, li, 
form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

/* Adding Hyphenation support */
// body { @include hyphens(auto); }


/* -----------------------------------------------------------------------------
   HTML5 Elements
   -------------------------------------------------------------------------- */
article, aside, details, figcaption, figure,
footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video       { display: inline-block; }

/* -----------------------------------------------------------------------------
   Base
   -------------------------------------------------------------------------- */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

nav ul { list-style: none; }
caption,
th,
td {
	text-align: left;
	font-weight: 400;
}
caption,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
input,
select { vertical-align: middle; }


blockquote:before,
blockquote:after,
q:before,
q:after      { content: "";   }
q,blockquote { quotes: "" ""; }

input,textarea { margin: 0; }

abbr[title],
dfn[title] {
	border-bottom: 1px dotted #000;
	cursor: help;
}

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

hr {
	display: block;
	height: 1px;
	margin: 1em 0;
	padding: 0;
	border: 0;
	border-top: 1px solid #ccc;
}

img,
a img { border: 0; }

/* bicubic resizing for non-native sized IMG: code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
img {
	max-width: 100%;
	-ms-interpolation-mode: bicubic;
}

/* Correct overflow displayed oddly in IE9 */
svg:not(:root) { overflow: hidden; }

/* Form Placeholder Color */
:-moz-placeholder           { color: rgb(169, 169, 169); }
::-webkit-input-placeholder { color: rgb(169, 169, 169); }

/* Clearing floats without extra markup  */
.group { @include group }
