/* ----------------------------------------------------------------------------- 
   
   typography.css
   * Sets up some sensible default typography.



	CLIQR COLOR PALETTE:
	=============================================================================
	| COLOR    (tone) |  HEX VALUE  |    RGB VALUE     | ACCEPTABLE RGBA VALUES |
	=============================================================================
	| BLUE     (dark) |   #76acdb   | rgb(118,172,219) |                        |
	-----------------------------------------------------------------------------
	| BLUE   (medium) |   #95bee2   | rgb(149,190,226) |                        |
	-----------------------------------------------------------------------------
	| BLUE    (light) |   #cde0f2   | rgb(205,225,242) |                        |
	=============================================================================
	| ORANGE   (dark) |   #ee8a22   | rgb(238,138,34)  |                        |
	-----------------------------------------------------------------------------
	| ORANGE (medium) |   #f8ba76   | rgb(248,186,118) |                        |
	-----------------------------------------------------------------------------
	| ORANGE  (light) |   #faddbd   | rgb(250,221,189) |                        |
	=============================================================================
	| GRAY     (dark) |   #adafb2   | rgb(173,175,178) |                        |
	-----------------------------------------------------------------------------
	| GRAY   (medium) |   #cfcfd2   | rgb(207,207,210) |                        |
	-----------------------------------------------------------------------------
	| GRAY    (light) |   #e9eaec   | rgb(233,234,236) |                        |
	-----------------------------------------------------------------------------
	
----------------------------------------------------------------------------- */

/* Compass Variables and Mixins
-------------------------------------------------------------- */
@import "compass/css3/hyphenation";
@import "../variables";



/* maxvoltar.com/archive/-webkit-font-smoothing */
html {
	overflow-y: scroll;
	-ms-text-size-adjust:     100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling:  touch;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* This is where you set your desired font size. The line-heights
   and vertical margins are automatically calculated from this.
   The percentage is of 16px (0.8125 * 16px = 13px). */
body {
	font-size: 81.25%;
	line-height: 1.5;
	color: #555;
	background-color: #f6f6f6;

	/* Adding Hyphenation support */
	@include hyphens(auto);
}

/* Default fonts and colors. */
select, input, textarea { color: #444; }

body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl,
input, select, textarea, button { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }


/* Headings
----------------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	text-rendering: optimizeLegibility;
}

/* Remove padding or spacing if headers are next to each other */
h1 + h2, h1 + h3, h1 + h4, h1 + h5,
h1 + h6, h2 + h3, h2 + h4, h2 + h5,
h2 + h6, h3 + h4, h3 + h5, h3 + h6,
h4 + h5, h4 + h6, h5 + h6 { margin: 0 0 5px 0; padding: 0; }

h1 > span,
h2 > span,
h3 > span,
h4 > span,
h5 > span,
h6 > span {
	position: relative;
	top: -1px;
	font-weight: normal;
	font-size: .75rem;
	text-transform: lowercase;
}

h1 { font-size: 2.0rem; margin-bottom: 5px; line-height: 1.00; }
h2 { font-size: 2.0rem; margin-bottom: 5px; line-height: 1.20; }
h3 { font-size: 1.5rem; margin-bottom: 5px; line-height: 1.00; }
h4 { font-size: 1.2rem; margin-bottom: 5px; line-height: 1.25; }
h5 { font-size: 1.0rem; margin-bottom: 5px; }
h6 { font-size: 1.0rem; margin-bottom: 5px; }

/* Custom Header Typography */
.page-intro {
	display: inline-block;
	position: absolute;
	width: 400px;
	top: 80px;
}
.page-intro .intro-head {
	line-height: 1.5;
	font-weight: bold;
}
.page-intro .intro-para {
	font-size: 1.2rem;
}

.page-title {
	margin: 0 0 10px;
	padding: 0;
	line-height: 1;
	font-weight: bold;
}
.page-title .btn-primary { float: right; }
.page-wrap-narrow .page-title { margin: 0 auto 10px; }

.section-title,
.section-subtitle { margin-top: 15px; }

.section-title {
	font-size: 1.4rem;
	margin-bottom: 3px;
}

.section-subtitle {
	line-height: 1.5;
	border-bottom: 1px solid $lighterGrey;
	color: #444;
	font-size: 1rem;
}
.section-subtitle.with-icon { margin-right: 30px; }

.form-column .section-subtitle,
.form-framework > fieldset .section-subtitle:first-child { margin-top: 0; }

[class*='section-'] + [class*='section-'] { margin-bottom: 5px; }


/* Text elements
----------------------------------------------------------------------------- */
p { margin: 0 0 1em; }

ul,
ol { margin: 0 1.5em 1.5em 1.5em; }
ul { list-style-type: circle;     }
ol { list-style-type: decimal;    }

dl    { margin: 0 0 1.5em 0; }
dl dt { font-weight: bold;   }
dl dd { margin-left: 1.5em;  }

abbr,
acronym { border-bottom: 1px dotted #000;        }
address { margin-top: 1.5em; font-style: italic; }
del { color: #000; }

a,
a:hover {
	-webkit-transition: border-bottom-color 0.2s ease-in-out;
	   -moz-transition: border-bottom-color 0.2s ease-in-out;
	     -o-transition: border-bottom-color 0.2s ease-in-out;
	        transition: border-bottom-color 0.2s ease-in-out;
}

a { border-bottom: 1px solid transparent; text-decoration: none; }

blockquote        { margin: 1.5em;      }
strong, dfn, mark { font-weight: bold;  }
em, dfn, mark     { font-style: italic; }

/* Improve readability of pre-formatted text in all browsers */
pre, code {
	margin: 1.5em 0;
	padding: 15px;
	/* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
	white-space: pre; /* CSS2 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
}

/* Redeclare monospace font family: http://en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre,code,
kbd,samp,
tt { font: 1rem/1.5 'Menlo', 'Monaco', 'Consolas', 'Courier New', monospace; }
tt { display: block; margin: 1.5em 0; }

mark,
ins { background-color: #ff9; color: #000; }
ins { text-decoration: none; }

/* Position subscript and superscript content without affecting line-height: http://gist.github.com/413930 */
sub,
sup { font-size: .6rem; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* Figures
----------------------------------------------------------------------------- */
figure { margin: 0; }


/* Tables
----------------------------------------------------------------------------- */
table   { margin-bottom: 1.4em; }
th      { font-weight: bold;    }
tfoot   { font-style: italic;   }
caption { background: #ffc;     }
